@charset "UTF-8";
/* 개별적으로 적용할 속성을 정의 */

/* 테스트 코드 */
div, header, footer, main, nav, aside, article, section {
		border:1px solid black;
}

/* 페이지 설정 */
.page {
	/* 	display: flex; */
	flex-direction: row;
	flex-wrap: wrap;
}

/* 상단 메뉴 */
header {
	width: 100%;
	min-height: 80px;
	text-align: center;
	order: 1;
}

/* 사이드 메뉴 */
aside {
	width: 12%;
	padding: 15px;
	order: 3;
}

/* 중앙 영역 */
main {
	flex-grow: 1;
	min-height: 500px;
	/* 	padding: 30px; */
	order: 4;
	width: 100%;
}

/* 하단 영역 */
footer {
	width: 100%;
	min-height: 50px;
	text-align: center;
	border-top: 1px solid black;
	order: 5;
}

/* 메뉴 관련된 style */
nav {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5em;
	margin-left: -55px;
	order: 2;
}

nav a {
	font-size: 20px;
}

/*nav .hamberg{*/
#hamberg+label {
	display: none;
}

/* 링크 스타일 */
a:link, a:visited {
	text-align: center;
	/*  padding-right: 25px;*/
	/*  padding-left: 25px;*/
	-webkit-transition: color 250ms ease;
	transition: color 250ms ease;
	font-family: Lato, sans-serif;
	color: #474747;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	color: #5da8ef;
}

/* login */
.login_id {
	width: 90%;
	font-size: 15px;
	padding: 12px;
	padding-left: 30px;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.login_pw {
	width: 90%;
	font-size: 15px;
	padding: 12px;
	padding-left: 30px;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.login_btn {
	width: 100%;
	font-size: 15px;
	padding: 12px;
	background-color: hotpink;
	color: white;
	outline: none;
	border: none;
	margin-top: 15px;
}

.search_id a {
	font-size: 14px;
	text-decoration: none;
}


/*join*/
.join-table {
	border-collapse: collapse;
	border: 1px solid #d7d5d5;
	border-left: 0;
	border-right: 0;
	line-height: 1.5;
	width: 100%;
	font-size: 13px;
}

.join-table input {
	padding: 0 10px;
	border: 1px solid #e8e8e8;
	height: 28px;
}

.join-table th {
	border-right: 1px solid #d7d5d5;
	background-color: #fbfafa;
	border: 1px solid #dfdfdf;
	padding: 11px 0 10px 18px;
	border-left: 0;
	font-weight: normal;
	text-align: left;
}

.join-table td {
	border: 1px solid #dfdfdf;
	border-right: 0;
	padding: 8px 10px 7px;
}

.join-table input:hover {
	border: 1px solid #aaa;
}

.join-table input[name=addr2], .join-table input[name=addr3] {
	width: 280px;
	margin: 5px 0 0;
}

.join-button {
	margin: 20px 0 50px;
	text-align: center;
}

.join-button input[type=submit] {
	background-color: #333;
	color: #fff !important;
	border: 1px solid #222;
	padding: 10px;
}

.join-button input[type=button] {
	background-color: #ffffff;
	color: #333 !important;
	border: 1px solid #222;
	padding: 10px;
}

/* 관리자 홈 */
.mypage {
	width: 50%;
	height: 200px;
	border-collapse: collapse;
}

.mypage tr {
	/*            width:120px;*/
	
}

.mypage td {
	width: 200px;
	text-align: center;
}

/* 아이디 찾기 */
.searchId input[type=text] {
	width: 105%;
}

.searchId strong {
	display: inline-block;
	width: 50px;
	text-align: left;
}

.searchId {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
}

.search_btn input[type=submit] {
	width: 100%;
	height: 40px;
	line-height: 50px;
	line-height: 48px\0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 1px;
}

/* profile */
.profile {
	width: 100%;
}

.profile th {
	text-align: left;
}

.profile td {
	text-align: center;
}

.edit-button {
	margin: 20px 0 50px;
	text-align: center;
}

.edit-button input[type=button] {
	background-color: #ffffff;
	color: #333;
	border: 1px solid #222;
	padding: 10px;
}

#edit {
	background-color: #333 !important;
	color: #fff !important;
}

/*paging */
.paging-table {
	
}

/*board*/
.border-table{
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	}
		
.border-table th, .border-table td{
    border: 1px solid #ccc;
    padding:10px;
}


/*userlist*/
.user-list table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.user-list table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

.user-list table tr {
	border: 1px solid #ddd;
	padding: .35em;
}

.user-list table tr:nth-child(even) {
	background: #f8f8f8;
}

.user-list table th, table td {
	padding: .625em;
	text-align: left;
}

.user-list table th {
	background: #999;
	color: #fff;
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.user-list table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*userlist-search(검색)*/
.search {
	width: 500px;
	height: 40px;
	/* 	margin: 150px auto; */
	background: #F6F6F6;
	/* 	background: rgba(0, 0, 0, .2); */
	border-radius: 3px;
	border: 1px solid #fff;
}

.search input {
	width: 370px;
	padding: 10px 5px;
	float: left;
	color: #ccc;
	border: 0;
	background: transparent;
	border-radius: 3px 0 0 3px;
}

.search input:focus {
	outline: 0;
	background: transparent;
}

.search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 120px;
	/* 	color: #fff; */
	background: transparent;
	border-left: 1px solid #fff;
	border-radius: 0 3px 3px 0;
}

.search button:hover {
	background: #fff;
	color: #444;
}

.search button:active {
	box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
	outline: 0;
}
}